.contacts {
  padding-top: 100px;
  padding-bottom: 30px;

  &__address__name {
    font-size: 30px;
    text-decoration: none;
    margin-bottom: 15px;
    margin-top: 0;
  }

  &__title {
    margin-bottom: 50px;
    color: $projects;
  }

  &__subtitle {
    font-size: 24px;
  }

  &__text {
    margin-bottom: 25px;
    color: #c9c9c9;
  }

  &__link {
    color: #c9c9c9;
  }

  &__content {
    display: block;

    @include md {
      display: flex;
    justify-content: space-between;
    gap: 20px;
    }
  }

  &__map {
    width: 100%;
    @include md {
      max-width: 500px;
    }
    
  }

  &__address {
    max-width: 460px;
  }

  &__social {
    padding-top: 20px;
    display: flex;
    gap: 20px;
  }
}

.main {
  &__contacts-address {
    width: 100%;
    @include md {
      width: 484px;
    }
    
    & p {
      color: #c9c9c9;
      font-size: 16px;
      @include sm {
        font-size: 20px;
      }
      
      
    }

    & p:first-child {
      font-size: 25px;
    }
  }
}

.consult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
  color: #c9c9c9;
  font-size: 16px;
  border: 1px solid #c9c9c9;
  padding: 20px;
  max-width: 450px;

  @include md {
    width: 450px;
  }

  & p {
    @include sm {
      font-size: 20px;
    }
  }

}
.input {
  &_name {
    height: 50px;
    width: 300px;
    border: 1px solid #c9c9c9;
    margin-bottom: 20px;
    background-color: #292828;
    font-size: 20px;
    padding-left: 15px;
  }

  &_tel {
    height: 50px;
    width: 300px;
    border: 1px solid #c9c9c9;
    margin-bottom: 20px;
    background-color: #292828;
    font-size: 20px;
    padding-left: 15px;
  }
}
.btn {
  &_submit {
    padding: 15px;
    width: 300px;
    color: #c9c9c9;
    background: none;
    text-transform: uppercase;
    border: 1px solid #c9c9c9;
    font-size: 18px;
    cursor: pointer;

    @include sm {
      font-size: 22px;
    }
  }
}
