.picture {
  position: relative;
  background-image: url('../img/IMG_5187.JPG');
  background-size: cover;
  background-position: center;
  height: 100vh;

  @include lg {
    background-image: url(../img/main-mobile.jpg);
  }

  &__container {
    position: relative;
    z-index: 10;
    min-height: 554px;
    padding-bottom: 50px;
    padding-top: 120px;
  }
}

